body{

    background-color:paleturquoise;
    align-items: center;

}

img {
display: flex;
width: 20%;
height: 20vh;
padding-left: 4rem;
border-radius: 8px;
}
h1{

    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}
#content {

}

p{

}
li{

    
}